Repository Automattic/newspack-popups, pull requests merged in 2020-07, with the labels that each got.

#164 refactor: render campaign content immediately before injection
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#165 fix: duplicate execution of the_content filter
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#166 Release 07/07/2020
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#168 Make popupVisible non-interactive event
  includes/class-newspack-popups-model.php
Labels: [Status] Approved, bug

#171 Release 09/07/2020
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#173 Add option to suppress newsletter campaigns if visiting from email
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  package-lock.json
  package.json
  src/settings/index.js
  webpack.config.js
Labels: [Status] Approved

#174 Fix settings styling
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  src/settings/style.scss
Labels: [Status] Approved, next release

#175 Add option to suppress all newsletter campaigns if one was dismissed
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
Labels: [Status] Approved

#169 feat: hide non-test campagins for logged-in users
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#178 Decode URL when checking utm_source suppression
  includes/class-newspack-popups-api.php
Labels: [Status] Approved, next release

#176 Release 14/07/2020
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  package-lock.json
  package.json
  src/settings/index.js
  src/settings/style.scss
  webpack.config.js
Labels: [Status] Approved

#180 Fix: UTM params suppression conflict
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#181 Release 15/07/2020
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#182 Fix dismissal errors on non-AMP pages
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#183 fix: a typo in one of the campaign settings options
  src/settings/index.js
Labels: [Status] Approved

#184 Release Jul 21
  includes/class-newspack-popups-inserter.php
  src/settings/index.js
Labels: [Status] Approved
