Repository Automattic/newspack-popups, pull requests merged in 2020-09, with the labels that each got.

#208 feat: lightweight GET API for campaigns
  api/README.md
  api/classes/class-lightweight-api.php
  api/classes/class-maybe-show-campaign.php
  api/index.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, performance

#211 Handle false get_transient return value
  includes/class-newspack-popups-api.php
Labels: [Status] Approved

#216 Release Sep 15
  api/README.md
  api/classes/class-lightweight-api.php
  api/classes/class-maybe-show-campaign.php
  api/index.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  package-lock.json
Labels: [Status] Approved

#214 Fix: enable drafts handling for setting options and categories
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#212 feat: create config if not exists
  api/README.md
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#213 Single GET per page; lightweight POST endpoint
  api/classes/class-lightweight-api.php
  api/classes/class-maybe-show-campaign.php
  api/classes/class-report-campaign-data.php
  api/index.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#221 Fix: reporting view on overlay campaigns
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#223 Prevent a test category popup from taking the place of a sitewide default
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#225 Fix linting errors
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
  phpcs.xml
Labels: [Status] Approved

#222 Add test suite
  .circleci/config.yml
  .gitignore
  api/classes/class-lightweight-api.php
  api/classes/class-maybe-show-campaign.php
  api/classes/class-report-campaign-data.php
  bin/install-wp-tests.sh
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  phpunit.xml.dist
  tests/bootstrap.php
  tests/test-api.php
  tests/test-insertion.php
  tests/test-sample.php
Labels: [Status] Approved

#226 API: allow requests from AMP Cache
  api/classes/class-lightweight-api.php
Labels: [Status] Approved

#228 API: config creation fix
  api/index.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#230 Release Sep 22
  .circleci/config.yml
  .gitignore
  api/README.md
  api/classes/class-lightweight-api.php
  api/classes/class-maybe-show-campaign.php
  api/classes/class-report-campaign-data.php
  api/index.php
  bin/install-wp-tests.sh
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  phpcs.xml
  phpunit.xml.dist
  tests/bootstrap.php
  tests/test-api.php
  tests/test-insertion.php
  tests/test-sample.php
Labels: [Status] Approved

#233 Segmentation: add log parsing
  api/campaigns/class-report-campaign-data.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  api/setup.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  tests/bootstrap.php
  tests/test-segmentation.php
Labels: [Status] Approved

#232 Fix scroll-triggered popups
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#236 Fix scroll-triggered campaigns
  src/view/style.scss
Labels: [Status] Needs Review

#239 Release Sep 29
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  src/view/style.scss
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#240 Fix: scroll-triggered popups on non-AMP pages
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#243 Release Sep 30
  includes/class-newspack-popups-model.php
Labels: [Status] Approved
