Repository Automattic/newspack-popups, pull requests merged in 2020-05, with the labels that each got.

#112 feat: convenience method for updating pop-up options
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#116 fix: resolve issue causing admin bar to display incorrectly
  includes/class-newspack-popups.php
Labels: [Status] Approved, bug

#119 feat: support for draft popups
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#118 refactor: rename pop-ups->campaigns
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  newspack-popups.php
  src/document-settings/index.js
  src/editor/index.js
Labels: [Status] Approved

#120 Fix couple issues with popup utm suppression
  includes/class-newspack-popups-api.php
Labels: [Status] Approved, bug

#121 Release May 6, 2020
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  newspack-popups.php
  src/document-settings/index.js
  src/editor/index.js
Labels: [Status] Approved

#94 fix: popup insertion logic
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#122 Release 5/12/2020
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#125 Fix insertion of overlay scroll-triggered popups
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#123 Dont load popups on products because of amp-form
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#128 Release 5/15/2020
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#129 Add GH action to manage labels
  .github/workflows/main.yml
Labels: [Status] Approved

#131 Handle default colors in the editor
  src/editor/index.js
Labels: [Status] Approved
