Repository Automattic/newspack-popups, pull requests merged in 2020-12, with the labels that each got.

#324 Compute segment size
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/segmentation-utils.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#325 Report segmentation-related data as custom dimension to GA
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/segmentation-utils.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  package-lock.json
  package.json
  src/view/index.js
  src/view/utils/index.js
Labels: Needs documentation, [Status] Needs Review

#323 Handle referrer segmentation
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
Labels: Segmentation, [Status] Approved

#328 Release – Dec. 1
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  package-lock.json
  package.json
  src/view/index.js
  src/view/utils/index.js
Labels: [Status] Approved

#330 Release (2) – Dec. 1
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  package-lock.json
  package.json
  src/view/index.js
  src/view/utils/index.js
Labels: [Status] Approved

#335 Add/persist visit time
  api/segmentation/class-segmentation-report.php
  includes/class-newspack-popups-segmentation.php
  tests/test-segmentation.php
Labels: Segmentation, [Status] Approved

#334 Move custom GA config endpoint to lightweight API
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-custom-ga-config.php
  api/segmentation/class-segmentation.php
  api/segmentation/index.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#338 Do create config on the atomic platform
  includes/class-newspack-popups.php
Labels: [Status] Approved

#340 Release – Dec. 8
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-custom-ga-config.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  api/segmentation/index.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  tests/test-segmentation.php
Labels: [Status] Approved

#292 Add above header placement option
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  src/editor/ColorsSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/Sidebar.js
  src/editor/StatusSidebar.js
  src/editor/utils.js
Labels: [Status] Approved, [Status] Blocked

#297 Insert time-triggered overlay campaigns above header
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  tests/test-insertion.php
Labels: [Status] Approved

#343 Feat/campaigns taxonomy
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  tests/test-api.php
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#336 feat: render a preview of the dismiss button in the editor
  src/editor/index.js
  src/editor/style.scss
  src/editor/withDismissButtonPreview.js
Labels: [Status] Approved, [Status] Needs Changes or Feedback, [Status] Needs Design Review, enhancement

#344 feat: make campaign groups a hierarchical taxonomy
  includes/class-newspack-popups.php
Labels: [Status] Approved

#347 Hide post visibility selector in the editor
  src/editor/style.scss
Labels: [Status] Approved

#348 Fix editor colors
  src/editor/ColorsSidebar.js
  src/editor/EditorAdditions.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/editor/withDismissButtonPreview.js
Labels: [Status] Approved

#351 Release – Dec. 15
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/editor/ColorsSidebar.js
  src/editor/EditorAdditions.js
  src/editor/FrequencySidebar.js
  src/editor/Sidebar.js
  src/editor/StatusSidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  tests/test-api.php
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#345 Add "view as segment" feature
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-view-as.php
  includes/class-newspack-popups.php
  tests/test-api.php
Labels: Segmentation, [Status] Approved

#352 Segmentation: session post read count
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  tests/test-api.php
  tests/test-segmentation.php
Labels: Segmentation, [Status] Approved

#321 Shortcode (officially)
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  src/editor/SegmentationSidebar.js
  src/editor/StatusSidebar.js
Labels: Needs documentation, Segmentation, [Status] Approved

#322 Handle favourite categories segment
  api/campaigns/class-maybe-show-campaign.php
Labels: Segmentation, [Status] Approved

#349 "View as" – handle groups
  api/campaigns/class-maybe-show-campaign.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-view-as.php
  includes/class-newspack-popups.php
  src/editor/SegmentationSidebar.js
  tests/test-segmentation.php
Labels: Segmentation, [Status] Approved
