Repository Automattic/newspack-popups, pull requests merged in 2020-02, with the labels that each got.

#51 Toggle Pop-up Title Display
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/index.js
Labels: [Status] Approved

#36 Add popup preview in the editor
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  package-lock.json
  package.json
  src/editor/PopupPreview.js
  src/editor/index.js
  src/editor/utils.js
  src/view/style.scss
Labels: [Status] Approved

#50 Refactor Sitewide Default
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/index.js
  src/editor/utils.js
Labels: [Status] Approved

#55 Fix Sitewide Default Setting In Pop-up List
  includes/class-newspack-popups-model.php
Labels: [Status] Approved, bug

#52 Pop-up Background Color Control
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/index.js
  src/editor/utils.js
  src/view/style.scss
Labels: [Status] Approved, question

#58 Bump version for release
  newspack-popups.php
Labels: [Status] Approved

#54 Update close button style to remove background colour and inherit text colour
  src/view/style.scss
Labels: [Status] Approved

#59 Dont inject popups into feeds
  includes/class-newspack-popups-inserter.php
Labels: [Status] Needs Review, bug

#61 Pre-populate New Pop-ups with Defaults
  includes/class-newspack-popups.php
Labels: [Status] Approved

#60 Load popup styles on archives
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#70 Bump version for release
  newspack-popups.php
Labels: [Status] Approved
