Repository Automattic/newspack-popups, pull requests merged in 2020-10, with the labels that each got.

#224 Set up segmentation features
  README.md
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/campaigns/index.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  api/setup.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  src/editor/index.js
  tests/bootstrap.php
  tests/test-segmentation.php
Labels: [Status] Approved

#245 Release – Oct. 7
  README.md
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/campaigns/index.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  api/setup.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  src/editor/index.js
  tests/bootstrap.php
  tests/test-segmentation.php
Labels: [Status] Approved

#253 Non-interactive (aka high traffic) mode
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  tests/bootstrap.php
  tests/test-insertion.php
Labels: [Status] Approved

#242 Fix time-triggered popups edge case
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  tests/test-model.php
Labels: [Status] Approved

#254 Fix inline campaign markup
  includes/class-newspack-popups-inserter.php
  src/view/style.scss
Labels: [Status] Approved

#256 Oct. 20 – Release
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  src/view/style.scss
  tests/bootstrap.php
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#261 Testing overlay campaigns
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#262 Fix setting sitewide default
  includes/class-newspack-popups.php
  src/editor/index.js
  src/editor/utils.js
Labels: [Status] Approved

#264 Chore: composer package update
  composer.json
  composer.lock
Labels: [Status] Approved

#263 Allow inline campaigns to appear before first block
  src/editor/index.js
Labels: [Status] Approved

#268 Disable "Every page" frequency for overlay campaigns
  includes/class-newspack-popups.php
  src/editor/index.js
Labels: [Status] Needs Review

#265 Disable native preview button
  src/editor/index.js
  src/editor/style.scss
Labels: [Status] Approved

#267 Add tag filtering
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#266 Fix previews if latest post has campaigns disabled
  includes/class-newspack-popups.php
  src/editor/PopupPreview.js
Labels: [Status] Approved

#238 Segmentation: use cacheing for client data
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/index.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-report.php
  api/setup.php
  phpunit.xml.dist
  tests/bootstrap.php
  tests/test-segmentation.php
Labels: [Status] Approved

#275 Chore: update composer package
  composer.json
  composer.lock
Labels: [Status] Approved

#258 Handle MC4WP; store email subscriptions as an array
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-model.php
  tests/test-api.php
Labels: [Status] Approved

#276 Fix cacheing issues
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  tests/test-api.php
  tests/test-segmentation.php
Labels: [Status] Approved

#269 Segmentation: save WC donation data
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  api/segmentation/index.php
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups.php
  tests/test-api.php
Labels: [Status] Approved

#278 Fix: check of WC-related class exists
  includes/class-newspack-popups-donations.php
Labels: [Status] Approved

#281 fix: add posts_read array to legacy client data
  api/classes/class-lightweight-api.php
Labels: [Status] Approved, bug

#285 Release Oct 28
  api/classes/class-lightweight-api.php
Labels: [Status] Needs Review

#282 Donation campaigns suppression
  api/campaigns/class-maybe-show-campaign.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  tests/bootstrap.php
  tests/test-api.php
Labels: [Status] Approved

#286 fix: allow only one overlay campaign per page
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#283 Fix non-AMP issues
  src/view/index.js
Labels: [Status] Approved

#288 Release Oct 29
  api/campaigns/class-maybe-show-campaign.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  src/view/index.js
  tests/bootstrap.php
  tests/test-api.php
Labels: [Status] Needs Review

#290 Handle MC4WP forms when assessing if campaign has newsletter form
  includes/class-newspack-popups-model.php
Labels: [Status] Approved
