Repository Automattic/newspack-popups, pull requests merged in 2020-11, with the labels that each got.

#289 Add posts read count segmentation
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/editor/index.js
  src/editor/utils.js
  tests/test-api.php
  tests/test-model.php
Labels: [Status] Approved

#291 Improve preview post link
  includes/class-newspack-popups.php
Labels: [Status] Approved

#296 fix: inject campaigns into posts and pages only
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#206 Make settings more consumable by other plugins
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
Labels: [Status] Approved

#301 Do not enqueue scripts if post has Campaigns disabled
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#294 Handle subscription, donation segmentation
  api/campaigns/class-maybe-show-campaign.php
  tests/test-api.php
Labels: Segmentation, [Status] Approved

#300 Fix settings format for API; remove classname appending
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#309 Release Nov 11
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/editor/index.js
  src/editor/utils.js
  src/settings/index.js
  tests/test-api.php
  tests/test-model.php
Labels: [Status] Approved

#310 feat: add option for dismiss button alignment
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/DismissSidebar.js
  src/editor/Sidebar.js
  src/editor/StatusSidebar.js
  src/editor/index.js
  src/editor/utils.js
  src/view/style.scss
  tests/test-model.php
Labels: [Status] Needs Review, enhancement

#305 Retrieve email, donation data from Mailchimp
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  composer.json
  composer.lock
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-segmentation.php
  tests/test-api.php
Labels: Segmentation, [Status] Approved

#307 feat: reorganize editor sidebar and add notice when test mode is enabled
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/ColorsSidebar.js
  src/editor/DismissSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/Preview.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/StatusSidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/style.scss
  tests/test-model.php
Labels: [Status] Approved, enhancement

#315 Improve configuration file handling
  api/setup.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#306 Polyfill amp-analytics script
  .circleci/config.yml
  babel.config.js
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  package-lock.json
  package.json
  src/view/index.js
  src/view/utils/index.js
  src/view/utils/index.test.js
Labels: [Status] Approved

#317 Fix: legacy config file path
  api/setup.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#319 Release Nov 24
  .circleci/config.yml
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  api/setup.php
  babel.config.js
  composer.json
  composer.lock
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  package-lock.json
  package.json
  src/editor/ColorsSidebar.js
  src/editor/DismissSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/Preview.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/StatusSidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/index.js
  src/view/style.scss
  src/view/utils/index.js
  src/view/utils/index.test.js
  tests/test-api.php
  tests/test-model.php
Labels: [Status] Approved

#326 Prune segmentation data
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#320 Do not render campaigns with 'never' frequency
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved
