Repository Automattic/newspack-popups, pull requests merged in 2020-04, with the labels that each got.

#89 Handle multiple popups
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/PopupPreview.js
  src/editor/index.js
Labels: [Status] Approved

#96 Release 3/31/2020
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/PopupPreview.js
  src/editor/index.js
  src/view/index.js
  src/view/patterns.scss
  src/view/style.scss
Labels: [Status] Approved

#98 Add class to pop-up if display title is enabled
  includes/class-newspack-popups-model.php
  src/view/patterns.scss
Labels: [Status] Approved

#99 Prevent reporting analytics data for popup previews
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#104 Suppress pageview logging in popups analytics.
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#106 Release 4/21/2020
  includes/class-newspack-popups-model.php
  src/view/patterns.scss
Labels: [Status] Approved

#101 Disable popups on non-AMP pages with POST form elements
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#107 Release 4/22/2020
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#111 Release 4/24/2020
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
  src/document-settings/index.js
  webpack.config.js
Labels: [Status] Needs Review

#113 Prevent infinite loop with inline popups and paywalled content
  includes/class-newspack-popups-inserter.php
Labels: [Status] Needs Review, bug

#115 Release 4/29/2020
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved
