Repository Automattic/newspack-popups, pull requests merged in 2020-06, with the labels that each got.

#127 fix: remove amp-form in non-amp requests
  includes/class-newspack-popups-inserter.php
  package-lock.json
  package.json
  src/view/index.js
Labels: [Status] Approved

#140 Release 09/06/2020
  .github/workflows/main.yml
  includes/class-newspack-popups-inserter.php
  package-lock.json
  package.json
  src/editor/index.js
  src/view/index.js
Labels: [Status] Approved

#145 Fix namespace use in register_rest_route
  includes/class-newspack-popups-api.php
Labels: [Status] Approved

#144 fix: related posts in campaigns
  includes/class-newspack-popups-model.php
Labels: [Status] Approved, bug

#146 Clean up release zip
  .distignore
  composer.json
  composer.lock
  package.json
Labels: [Status] Approved

#147 refactor: homepage posts pre/post rendering hooks
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#149 Release 18/06/2020
  .distignore
  composer.json
  composer.lock
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  package.json
Labels: [Status] Approved

#150 fix: insert all campaigns into content in one pass
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#154 fix: non-amp form handling for inline campaigns
  src/view/index.js
Labels: [Status] Approved, bug, non-AMP

#156 feat: add class names for newsletter prompts, for analytics tracking
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#155 Analytics: use newspack-plugin's filter where possible
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#157 Release 23/06/2020
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  src/view/index.js
Labels: [Status] Approved

#160 Fix ad insertion in overlay campaigns
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#161 Refactor/hooks firing too often
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#162 Release 30/06/2020
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved
