Repository Automattic/newspack-popups, pull requests merged in 2021-03, with the labels that each got.

#460 feat: enable visit logging by default
  README.md
  api/campaigns/class-maybe-show-campaign.php
  tests/bootstrap.php
Labels: [Status] Approved, enhancement

#451 feat: allow multiple segments per prompt
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-model.php
  src/editor/SegmentationSidebar.js
  src/editor/style.scss
  tests/test-api.php
Labels: [Status] Approved

#432 feat: only show prompts for the best-priority segment
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  src/editor/SegmentationSidebar.js
  src/editor/style.scss
  tests/test-api.php
Labels: [Status] Approved

#458 Handle visit data also in previews
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#463 Release Mar 02
  README.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  src/editor/SegmentationSidebar.js
  src/editor/style.scss
  tests/bootstrap.php
  tests/test-api.php
Labels: [Status] Approved

#464 Prevent segmentation-derived custom dimensions reporting in non-interaction mode
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#468 Fix placement computation
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#474 fix: no amp-access auth check for inactive prompts
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#477 Release Mar 09
  README.md
  api/README.md
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#484 fix: render_block causes Homepage Posts to render wrong post
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#486 Hotfix release Mar 12
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#481 Process custom dimensions' values as strings
  api/segmentation/class-segmentation-custom-ga-config.php
Labels: [Status] Approved

#488 refactor: custom db table for campaign transients
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved, performance

#494 Add timestamp column to custom transients table
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#493 Release Mar 16
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-custom-ga-config.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Needs Review, [Status] On Hold

#489 fix: introduce blacklisted blocks to ignore when inserting prompts
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#482 Remove default category on prompt activation
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#497 Leaner GA config
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#487 Allow filters to suppress popups better
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#490 refactor: minimize transients written to one per reader
  .circleci/config.yml
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  tests/test-api.php
Labels: [Status] Approved, enhancement, performance

#467 feat: custom placements
  .distignore
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-custom-placements.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/blocks/custom-placement/block.json
  src/blocks/custom-placement/edit.js
  src/blocks/custom-placement/editor.scss
  src/blocks/custom-placement/index.js
  src/blocks/custom-placement/view.php
  src/blocks/index.js
  src/editor/DismissSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/utils.js
  tests/bootstrap.php
  tests/test-blocks.php
  tests/test-insertion.php
  webpack.config.js
Labels: [Status] Approved, [Status] Needs Changes or Feedback, enhancement

#500 Release Mar 23
  .circleci/config.yml
  .distignore
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-custom-placements.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/blocks/custom-placement/block.json
  src/blocks/custom-placement/edit.js
  src/blocks/custom-placement/editor.scss
  src/blocks/custom-placement/index.js
  src/blocks/custom-placement/view.php
  src/blocks/index.js
  src/editor/DismissSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/utils.js
  tests/bootstrap.php
  tests/test-api.php
  tests/test-blocks.php
  tests/test-insertion.php
  webpack.config.js
Labels: [Status] Approved

#501 feat: use RadioControls for prompt type selection
  src/editor/Sidebar.js
  src/editor/style.scss
Labels: [Status] Approved, enhancement

#502 Add missing key prop in CustomPlacementEditor
  src/blocks/custom-placement/edit.js
Labels: [Status] Approved

#504 Release Mar 30
  src/blocks/custom-placement/edit.js
  src/editor/Sidebar.js
  src/editor/style.scss
Labels: [Status] Approved
