Repository Automattic/newspack-popups, pull requests merged in 2021-11, with the labels that each got.

#648 fix: update ci images
  .circleci/config.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#646 fix: donor landing page
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-segmentation.php
  tests/test-api.php
Labels: [Status] Approved, next release

#651 Release Nov 02
  .circleci/config.yml
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  package-lock.json
  package.json
  tests/test-api.php
  tests/test-insertion-cpt.php
Labels: [Status] Approved

#652 fix: check if gtm exists
  src/view/index.js
Labels: [Status] Approved

#644 feat(editor): handle archive placement in preview
  src/editor/Preview.js
Labels: [Status] Approved

#630 enable homepage-posts posts duplication between a page and an overlay prompt
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#656 Release Nov 09
  includes/class-newspack-popups-model.php
  src/editor/Preview.js
  src/view/index.js
Labels: [Status] Approved

#653 fix: post type support conditions
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#641 feat: enable excluding categories per prompt
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/AdvancedSidebar.js
  src/editor/index.js
  src/editor/utils.js
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#638 fix(segmentation): change MC API key option name
  api/segmentation/class-segmentation-client-data.php
Labels: [Status] Approved

#624 Add/overlay more placements and size option
  .circleci/config.yml
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  package-lock.json
  package.json
  src/editor/EditorAdditions.js
  src/editor/PositionPlacementControl.js
  src/editor/Sidebar.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/style.scss
  tests/test-model.php
Labels: [Status] Approved

#647 fix: prevent insertions which break layout; improve classic-content insertion
  includes/class-newspack-popups-inserter.php
  tests/test-content-intertion.php
Labels: [Status] Approved

#668 Release Nov 18
  .circleci/config.yml
  CHANGELOG.md
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/AdvancedSidebar.js
  src/editor/EditorAdditions.js
  src/editor/PositionPlacementControl.js
  src/editor/Sidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/style.scss
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#658 Don't use "here" as link text
  includes/class-newspack-popups.php
Labels: [Status] Approved

#695 chore: update deps; configure dependabot
  .github/dependabot.yml
  .nvmrc
  .stylelintrc
  package-lock.json
  package.json
  src/blocks/custom-placement/edit.js
  src/blocks/single-prompt/edit.js
  src/customizer/index.js
  src/editor/Duplicate.js
  src/editor/EditorAdditions.js
  src/editor/SegmentationSidebar.js
  src/editor/utils.js
  src/view/utils/index.js
Labels: [Status] Approved

#707 Release Nov 30
  CHANGELOG.md
  includes/class-newspack-popups-inserter.php
  newspack-popups.php
  package-lock.json
  package.json
  tests/test-content-intertion.php
Labels: [Status] Approved

#711 Release Nov 30
  .github/dependabot.yml
  .nvmrc
  .stylelintrc
  CHANGELOG.md
  api/setup.php
  composer.lock
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/blocks/custom-placement/edit.js
  src/blocks/single-prompt/edit.js
  src/customizer/index.js
  src/editor/Duplicate.js
  src/editor/EditorAdditions.js
  src/editor/SegmentationSidebar.js
  src/editor/utils.js
  src/view/utils/index.js
Labels: [Status] Needs Review
