Repository Automattic/newspack-popups, pull requests merged in 2021-01, with the labels that each got.

#363 feat: support for campaign groups in campaigns wizard
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
Labels: [Status] Approved

#362 fix: session read count in view-as logic
  api/campaigns/class-campaign-data-utils.php
Labels: [Status] Approved, bug

#376 fix: remove trailing question mark from cleaned non-AMP URLs
  src/view/index.js
  src/view/utils/index.js
  src/view/utils/index.test.js
Labels: [Status] Approved

#374 feat: initialize campaigns by placement
  includes/class-newspack-popups.php
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#373 feat: manual placement
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/FrequencySidebar.js
Labels: Segmentation, [Status] Approved

#368 fix: install composer dependencies on release job
  .circleci/config.yml
Labels: [Status] Approved

#375 feat: activate and deactivate are bulk publish controls; add unpublished option for previewing
  .circleci/config.yml
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/editor/FrequencySidebar.js
  tests/test-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#387 Feat/current campaign group pub status
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  tests/test-insertion.php
Labels: [Status] Approved

#381 Fix: handle no GA id
  src/view/index.js
Labels: [Status] Approved

#383 Fix segmentation and frequency conflict
  api/campaigns/class-maybe-show-campaign.php
  tests/test-api.php
Labels: [Status] Approved

#391 Segmentation: category affinity fixes
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  tests/test-api.php
Labels: [Status] Needs Review

#395 Disregard frequency with view-as; handle 'all' in view-as spec
  api/campaigns/class-maybe-show-campaign.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  tests/test-api.php
  tests/test-insertion.php
  tests/test-segmentation.php
Labels: [Status] Approved

#402 fix: remove dismiss button preview when empty
  src/editor/EditorAdditions.js
Labels: [Status] Approved

#390 feat: deprecate test mode and never frequency
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/FrequencySidebar.js
  src/editor/StatusSidebar.js
  tests/test-api.php
  tests/test-insertion.php
  tests/test-model.php
Labels: Segmentation, [Status] Approved

#403 fix: corrected logic for above header display
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#399 fix: in preview tab, allow previewing without choosing groups
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#401 fix: remove inline class for above header campaigns
  includes/class-newspack-popups-model.php
  src/view/style.scss
Labels: [Status] Approved

#404 fix: view-as-segment should always take min count values
  api/campaigns/class-campaign-data-utils.php
  tests/test-api.php
Labels: Segmentation, [Status] Approved

#406 Release Jan 20
  .circleci/config.yml
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups-view-as.php
  includes/class-newspack-popups.php
  src/editor/EditorAdditions.js
  src/editor/FrequencySidebar.js
  src/editor/SegmentationSidebar.js
  src/editor/StatusSidebar.js
  src/view/index.js
  src/view/style.scss
  src/view/utils/index.js
  src/view/utils/index.test.js
  tests/test-api.php
  tests/test-insertion.php
  tests/test-model.php
  tests/test-segmentation.php
Labels: [Status] Approved

#409 fix: bug that causes admin bar to be hidden
  includes/class-newspack-popups.php
Labels: Regression, [Status] Approved, bug

#410 Release January 21 (bugfix)
  includes/class-newspack-popups.php
Labels: [Status] Approved

#411 fix: admin bar shown on front end logged out
  includes/class-newspack-popups.php
Labels: Regression, [Status] Approved, bug

#412 Release January 22 (bugfix)
  includes/class-newspack-popups.php
Labels: [Status] Approved

#417 npm bumps
  package-lock.json
  package.json
Labels: [Status] Approved

#415 Referrer exclusion segmentation
  api/campaigns/class-campaign-data-utils.php
  tests/test-api.php
Labels: [Status] Approved

#408 Handle setting donor status by visiting a page
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  src/settings/style.scss
  tests/test-insertion.php
Labels: [Status] Approved

#420 Release Jan 28
  api/campaigns/class-campaign-data-utils.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  package-lock.json
  package.json
  src/settings/index.js
  src/settings/style.scss
  tests/test-api.php
  tests/test-insertion.php
Labels: [Status] Approved

#422 Fix insertion bug
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#423 Release Jan 29
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved
