Repository Automattic/newspack-popups, pull requests merged in 2021-12, with the labels that each got.

#712 fix: path to config file
  api/setup.php
Labels: [Status] Approved

#714 Release Dec 01
  CHANGELOG.md
  api/setup.php
  newspack-popups.php
  package-lock.json
  package.json
Labels: [Status] Approved

#717 fix: stricter empty block check
  includes/class-newspack-popups-inserter.php
  tests/test-content-intertion.php
Labels: [Status] Approved

#719 Release Dec 02
  CHANGELOG.md
  includes/class-newspack-popups-inserter.php
  newspack-popups.php
  package-lock.json
  package.json
  tests/test-content-intertion.php
Labels: [Status] Approved

#716 feat(api): add HTTP reponse codes to error reponses
  api/campaigns/index.php
  api/segmentation/index.php
  api/setup.php
Labels: [Status] Approved

#706 fix: naming duplicated prompts
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups.php
  src/editor/Duplicate.js
  tests/test-e2e.php
Labels: [Status] Approved

#715 fix: archive prompt spacing
  includes/class-newspack-popups-inserter.php
  src/view/patterns.scss
Labels: [Status] Approved

#727 fix: duplicated, grouped blocks
  includes/class-newspack-popups-inserter.php
  tests/test-content-insertion.php
  tests/test-content-intertion.php
Labels: bug, [Status] Approved

#735 Release Dec 14
  CHANGELOG.md
  api/campaigns/index.php
  api/segmentation/index.php
  api/setup.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/Duplicate.js
  src/view/patterns.scss
  tests/test-content-insertion.php
  tests/test-content-intertion.php
  tests/test-e2e.php
Labels: [Status] Approved

#726 feat: add a filter for supported post types
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  tests/test-insertion.php
Labels: enhancement, [Status] Approved

#732 perf: shorten query params for preview iframe URLs
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/Preview.js
  tests/test-insertion.php
Labels: bug, [Status] Approved

#743 Release Dec 15
  CHANGELOG.md
  Gruntfile.js
  composer.json
  composer.lock
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/Preview.js
  tests/test-insertion.php
Labels: [Status] Approved
