Repository Automattic/newspack-popups, pull requests merged in 2021-02, with the labels that each got.

#425 fix: set segment id to null if segment doesn't exist
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  tests/test-api.php
Labels: Segmentation, [Status] Approved

#426 feat: specify group and segment in url for new campaigns
  includes/class-newspack-popups.php
Labels: Segmentation, [Status] Approved

#427 feat: campaign management functions
  includes/class-newspack-popups.php
Labels: [Status] Approved

#429 feat: create campaign function
  includes/class-newspack-popups.php
Labels: [Status] Approved

#416 feat: segment priority UI and logic
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/editor/StatusSidebar.js
  src/editor/index.js
  src/editor/utils.js
  tests/test-api.php
  tests/test-insertion.php
Labels: [Status] Approved, [Status] On Hold

#431 Fix/nomenclature updates
  README.md
  api/README.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/document-settings/index.js
  src/editor/DismissSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/index.js
Labels: User Interface, [Status] Approved

#434 fix: add cache control headers
  api/classes/class-lightweight-api.php
Labels: [Status] Approved, bug

#397 feat: retrieve existing WC orders data as donations
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-view-as.php
  includes/class-newspack-popups.php
  tests/test-api.php
  tests/test-insertion.php
Labels: [Status] Needs Review

#438 fix: preview functionality by campaign/group
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#439 fix: prevent category overlays from being fetched erroneously
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#435 Campaigns Wizard: mark draft prompts in preview
  includes/class-newspack-popups-model.php
  src/view/style.scss
Labels: [Status] Approved

#437 Release Feb 09
  README.md
  api/README.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups-view-as.php
  includes/class-newspack-popups.php
  src/document-settings/index.js
  src/editor/DismissSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/StatusSidebar.js
  src/editor/index.js
  src/editor/utils.js
  src/view/style.scss
  tests/test-api.php
  tests/test-insertion.php
Labels: [Status] Approved

#446 fix: increase max number of prompts to retrieve
  includes/class-newspack-popups-model.php
Labels: [Status] Approved, bug

#449 Release Feb 16
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#452 fix: show shortcoded prompts in previews
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#455 feat: validate segmentation sort operations
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#456 Release Feb 24
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved
