Repository Automattic/newspack-popups, pull requests merged in 2021-04, with the labels that each got.

#441 Simplify prompt retrieval
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#506 Fix tag filtering
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  tests/test-insertion.php
Labels: [Status] Approved

#505 Small shortcode, amp-access fixes
  includes/class-newspack-popups-custom-placements.php
  includes/class-newspack-popups-inserter.php
  tests/bootstrap.php
  tests/test-insertion.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved

#507 fix: when previewing "everyone" segment, show only prompts with no segments
  api/campaigns/class-maybe-show-campaign.php
  tests/test-api.php
Labels: [Status] Approved, bug

#510 Retrieve widget popups ids from options
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#508 DB enhancements
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#509 API: ignore crawler traffic
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups.php
  tests/bootstrap.php
  tests/test-api.php
Labels: [Status] Approved

#512 Release Apr 06
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-custom-placements.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  tests/bootstrap.php
  tests/test-api.php
  tests/test-insertion.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved

#515 Fix tag criterion
  includes/class-newspack-popups-inserter.php
  tests/test-insertion.php
Labels: [Status] Approved

#517 Hotfix release Apr 08
  includes/class-newspack-popups-inserter.php
  tests/test-insertion.php
Labels: [Status] Approved

#514 Fixes: drafts previews, segmentation orderiing
  includes/class-newspack-popups-inserter.php
  tests/test-insertion.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved

#518 refactor: combine tags/category filtering methods into one
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-inserter.php
  tests/test-insertion.php
Labels: [Status] Approved

#521 feat: handle classic content for inline prompt insertion
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug, enhancement

#513 feat: new option to show border for inline prompts
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/Preview.js
  src/editor/Sidebar.js
  src/editor/utils.js
  src/view/style.scss
  tests/test-model.php
Labels: [Status] Approved, enhancement

#523 Release Apr 13
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/Preview.js
  src/editor/Sidebar.js
  src/editor/utils.js
  src/view/style.scss
  tests/test-insertion.php
  tests/test-model.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved

#525 Ensure WC client ID field is hidden
  src/view/style.scss
Labels: [Status] Approved

#524 Fix: empty blocks handling
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#529 Filter out non-existing categories in segments
  includes/class-newspack-popups-segmentation.php
  tests/test-api.php
Labels: [Status] Approved

#531 Fix: interaction of above-header prompts in non-AMP mode
  includes/class-newspack-popups-model.php
  src/view/index.js
Labels: [Status] Approved, next release

#534 Release Apr 27
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  src/view/index.js
  src/view/style.scss
  tests/test-api.php
Labels: [Status] Approved

#536 fix: bump query limit up to 100 for eligible prompts
  includes/class-newspack-popups-model.php
  tests/test-api.php
Labels: [Status] Approved, bug

#535 Analytics: revert event encoding
  includes/class-newspack-popups-model.php
Labels: [Status] Approved
