Repository Automattic/newspack-popups, pull requests merged in 2021-05, with the labels that each got.

#537 fix: use filter to decide which post types to insert ads into content
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved, bug

#539 API debugging
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
Labels: Needs documentation, [Status] Approved

#541 Release May 04
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  tests/test-api.php
Labels: [Status] Approved

#543 Fix form selector for analytics
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#546 Release May 13
  includes/class-newspack-popups-model.php
Labels: [Status] Approved
