Repository Automattic/newspack-popups, pull requests merged in 2022-05, with the labels that each got.

#863 feat(api): improve web crawler handling
  api/classes/class-lightweight-api.php
  tests/test-api.php
Labels: [Status] Approved

#867 feat: new option to not display an overlay background
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/ColorsSidebar.js
  src/editor/utils.js
  src/view/style.scss
  tests/test-model.php
Labels: enhancement, [Status] Approved

#875 fix: overlays should have a background by default
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  tests/test-model.php
Labels: bug, [Status] Approved

#872 Release May 30
  CHANGELOG.md
  api/README.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-custom-ga-config.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/ColorsSidebar.js
  src/editor/DismissSidebar.js
  src/editor/EditorAdditions.js
  src/editor/FrequencySidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/patterns.scss
  src/view/style.scss
  tests/test-api.php
  tests/test-insertion.php
  tests/test-model.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved
