Repository Automattic/newspack-popups, pull requests merged in 2022-08, with the labels that each got.

#929 Release Aug 01
  CHANGELOG.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  api/segmentation/class-segmentation-custom-ga-config.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-newsletters.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/blocks/single-prompt/edit.js
  src/editor/AdvancedSidebar.js
  src/editor/ColorsSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/PostTypesPanel.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/settings/style.scss
  src/view/style.scss
  src/view/utils/index.js
  tests/test-api.php
  tests/test-model.php
  tests/test-segmentation.php
Labels: [Status] Approved

#931 fix: utm_source suppression if segment also matches
  api/campaigns/class-maybe-show-campaign.php
Labels: bug, [Status] Approved

#930 fix: segment matching when no segment is the best-priority
  api/campaigns/class-maybe-show-campaign.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  tests/test-api.php
Labels: bug, [Status] Approved, Reader Activation

#936 Release Aug 16
  CHANGELOG.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-newsletters.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/view/style.scss
  tests/test-api.php
Labels: [Status] Approved

#935 fix: category/tag exclusion fields in block editor
  includes/class-newspack-popups-inserter.php
  src/editor/AdvancedSidebar.js
Labels: bug, [Status] Approved

#938 Release Aug 16
  includes/class-newspack-popups-inserter.php
  src/editor/AdvancedSidebar.js
Labels: [Status] Approved

#941 fix: update frequency options disabled status when prompt type is changed
  src/editor/FrequencySidebar.js
Labels: bug, [Status] Approved

#940 Clarify exclusion labels
  src/editor/AdvancedSidebar.js
Labels: [Status] Approved

#946 Feat/polyfill amp scripts
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  src/view/analytics.js
  src/view/animation.js
  src/view/bind.js
  src/view/form.js
  src/view/index.js
  src/view/position-observer.js
  src/view/store.js
  src/view/utils/index.js
  tests/test-model.php
Labels: [Status] Approved

#950 feat: simplify overlay max-height
  src/view/style.scss
Labels: [Status] Approved

#952 style: ensure prompt featured images are always full-width
  src/view/style.scss
Labels: bug, [Status] Approved
