Repository Automattic/newspack-popups, pull requests merged in 2022-09, with the labels that each got.

#949 feat(analytics): prevent marking client as a subscriber if subscribing to master list
  includes/class-newspack-popups-newsletters.php
Labels: [Status] Approved, Reader Activation

#951 feat: log reg form info to analytics events
  includes/class-newspack-popups-model.php
Labels: enhancement, [Status] Approved, Analytics

#956 style: fix featured image wrapper style in AMP
  src/view/style.scss
Labels: bug, [Status] Approved

#954 Segmentation: handle former donor
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-segmentation.php
  tests/test-segmentation-criteria.php
  tests/test-segmentation.php
Labels: [Status] Approved

#959 feat: polyfill amp-access script
  includes/class-newspack-popups-inserter.php
  src/view/access.js
  src/view/access.scss
  src/view/index.js
  src/view/utils/index.js
Labels: [Status] Approved, non-AMP, performance

#958 feat: remove wp-dom-ready, medialement dependencies for frontend script
  includes/class-newspack-popups-inserter.php
  src/view/index.js
Labels: [Status] Approved, performance

#962 Release Sep 14
  CHANGELOG.md
  composer.lock
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-newsletters.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/AdvancedSidebar.js
  src/view/analytics.js
  src/view/animation.js
  src/view/bind.js
  src/view/form.js
  src/view/index.js
  src/view/position-observer.js
  src/view/store.js
  src/view/style.scss
  src/view/utils/index.js
  tests/test-model.php
Labels: [Status] Approved

#964 test: update tests dependencies
  composer.json
  composer.lock
  tests/bootstrap.php
Labels: [Status] Approved

#966 feat: improved frequency options no longer experimental; clearer UI (v2)
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/FrequencySidebar.js
  src/editor/style.scss
Labels: [Status] Approved

#957 feat: add concept of prompt styles and add large style
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/Sidebar.js
  src/editor/StylesSidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/style.scss
  tests/test-model.php
Labels: [Status] Approved

#977 Release Sep 27
  CHANGELOG.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  composer.json
  composer.lock
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/Sidebar.js
  src/editor/StylesSidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/view/access.js
  src/view/access.scss
  src/view/index.js
  src/view/style.scss
  src/view/utils/index.js
  tests/bootstrap.php
  tests/test-model.php
  tests/test-segmentation-criteria.php
  tests/test-segmentation.php
Labels: [Status] Approved

#972 test: Upgrade to php 8
  .circleci/config.yml
  composer.json
  composer.lock
  tests/test-api.php
  tests/test-blocks.php
  tests/test-content-insertion.php
  tests/test-insertion.php
  tests/test-model.php
  tests/test-segmentation-criteria.php
  tests/test-segmentation.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved

#976 fix: lower visibility threshold for prompt_seen events
  includes/class-newspack-popups-model.php
  src/view/analytics.js
Labels: enhancement, [Status] Approved
