Repository Automattic/newspack-popups, pull requests merged in 2022-03, with the labels that each got.

#813 fix: prevent non-page post types from appearing in settings dropdown
  includes/class-newspack-popups-settings.php
Labels: bug, [Status] Approved

#814 fix: only count donation products for donor segmentation
  includes/class-newspack-popups-segmentation.php
Labels: enhancement, [Status] Approved

#820 Release Mar 08
  .circleci/config.yml
  .distignore
  CHANGELOG.md
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/Preview.js
  src/editor/Sidebar.js
  src/editor/utils.js
  tests/test-content-insertion.php
  tests/test-model.php
Labels: [Status] Approved

#818 feat(segmentation): add filter to designate additional product IDs as donations
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved, Feature request

#821 fix: prefix preview query param keys to avoid collisions
  CHANGELOG.md
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
Labels: bug, [Status] Approved

#825 feat: allow segmentation by user login status
  api/campaigns/class-campaign-data-utils.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  tests/test-api.php
  tests/test-insertion.php
Labels: [Status] Approved, Feature request

#826 fix: donation landing page setting
  includes/class-newspack-popups-settings.php
Labels: [Status] Approved

#831 Release Mar 22
  CHANGELOG.md
  includes/class-newspack-popups-segmentation.php
  newspack-popups.php
  package-lock.json
  package.json
Labels: [Status] Approved

#830 feat(analytics): add segment name to event_category
  includes/class-newspack-popups-model.php
Labels: [Status] Approved, Feature request

#832 feat: add "undismissible" option for inline prompts
  api/campaigns/class-maybe-show-campaign.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  src/editor/DismissSidebar.js
  src/editor/EditorAdditions.js
  src/editor/Sidebar.js
  src/editor/utils.js
  tests/test-api.php
  tests/test-model.php
Labels: [Status] Approved, Feature request
