Repository Automattic/newspack-popups, pull requests merged in 2022-02, with the labels that each got.

#790 hotfix: donate form submission event
  includes/class-newspack-popups-model.php
Labels: bug, [Status] Approved

#777 feat: allow admins to define merge fields for donors
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-settings.php
  src/settings/index.js
  src/settings/style.scss
Labels: enhancement, [Status] Approved, [Status] Needs Changes or Feedback

#800 feat(api): remove forcing HTTP; tweak referer verification
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-model.php
Labels: [Status] Approved

#797 perf(segmentation): limit query results when fetching segmentation reach data
  api/classes/class-lightweight-api.php
Labels: [Status] Approved, performance

#799 chore: prevent distribution of unneeded files
  .distignore
Labels: [Status] Approved

#803 fix: allow overlay_opacity to be set to 0 for prompts
  includes/class-newspack-popups-model.php
Labels: bug, [Status] Approved

#792 fix(preview): pass url params to links within single-prompt preview iframes
  includes/class-newspack-popups.php
  src/editor/Preview.js
Labels: bug, [Status] Approved

#802 fix: ensure correct option is selected for trigger dropdown
  src/editor/Sidebar.js
Labels: bug, [Status] Approved

#755 Insert prompts block count basis
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/Sidebar.js
  src/editor/utils.js
  tests/test-content-insertion.php
  tests/test-model.php
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#808 Release Feb 22
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  CHANGELOG.md
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  babel.config.js
  composer.lock
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-settings.php
  newspack-popups.php
  package-lock.json
  package.json
  src/editor/utils.js
  src/settings/index.js
  src/settings/style.scss
  src/view/utils/index.js
  src/view/utils/index.test.js
  webpack.config.js
Labels: [Status] Needs Review

#807 fix: count inner blocks' content toward post length
  includes/class-newspack-popups-inserter.php
  tests/test-content-insertion.php
Labels: bug, [Status] Approved

#806 fix: prevent default category on term deletion
  includes/class-newspack-popups.php
Labels: bug, [Status] Approved
