Repository Automattic/newspack-popups, pull requests merged in 2022-07, with the labels that each got.

#892 fix: check subscriber status earlier and restore utm_medium=email logic
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  tests/test-api.php
Labels: bug, [Status] Approved

#897 feat: use existing options to restrict display size of overlay prompts
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/Sidebar.js
  src/view/style.scss
Labels: enhancement, [Status] Approved, [Status] Needs Design Review

#909 feat(styling): smaller padding on smaller viewports
  src/view/style.scss
Labels: [Status] Approved, [Status] Needs Design Review

#869 refactor: segmentation data
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  api/segmentation/class-segmentation-custom-ga-config.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups-segmentation.php
  tests/test-api.php
  tests/test-segmentation.php
Labels: [Status] Approved, refactor

#908 feat: improved frequency options
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups.php
  src/blocks/single-prompt/edit.js
  src/editor/AdvancedSidebar.js
  src/editor/ColorsSidebar.js
  src/editor/FrequencySidebar.js
  src/editor/PostTypesPanel.js
  src/editor/SegmentationSidebar.js
  src/editor/Sidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  tests/test-api.php
  tests/test-model.php
  tests/test-segmentation.php
Labels: enhancement, [Status] Approved, Feature request

#917 feat(newsletters): handle subscribe form block event
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-newsletters.php
  includes/class-newspack-popups.php
Labels: [Status] Approved, Feature request

#918 fix(segmentation): data pruning
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#922 fix: simplify WC donation handling
  api/campaigns/class-campaign-data-utils.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-newsletters.php
  includes/class-newspack-popups-segmentation.php
Labels: bug, [Status] Approved, refactor

#911 feat(segmentation): handle pre-authenticated users
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved

#923 feat: lookup unknown email addresses in ESP to determine status
  includes/class-newspack-popups-newsletters.php
Labels: enhancement, [Status] Approved, Segmentation

#926 feat: handle no lists update
  includes/class-newspack-popups-newsletters.php
Labels: [Status] Approved, Reader Activation

#924 feat: featured images for overlay prompts
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/view/style.scss
Labels: [Status] Approved, Reader Activation

#927 feat: read ESP donation metadata on login and supply to segmentation
  includes/class-newspack-popups-newsletters.php
Labels: [Status] Approved, Reader Activation
