Repository Automattic/newspack-popups, pull requests merged in 2022-01, with the labels that each got.

#744 chore(deps): implement dependabot auto-merge
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#764 chore: update post-release job to pull changelog and semver changes to master
  .circleci/config.yml
  CHANGELOG.md
Labels: [Status] Approved

#765 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: [Status] Approved

#771 fix: view.js conflict with mediaelement.js
  includes/class-newspack-popups-inserter.php
Labels: bug, [Status] Approved

#785 Release Jan 25
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  composer.lock
  includes/class-newspack-popups-inserter.php
  newspack-popups.php
  package-lock.json
  package.json
Labels: [Status] Approved

#778 chore: use newspack-scripts
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  babel.config.js
  package-lock.json
  package.json
  src/customizer/index.js
  src/editor/utils.js
  src/view/utils/index.js
  webpack.config.js
Labels: [Status] Approved

#786 ci: fix post-release flow
  .circleci/config.yml
Labels: [Status] Needs Review
