Repository Automattic/newspack-popups, pull requests merged in 2022-10, with the labels that each got.

#979 feat: treat logged-in admins and editors as preview sessions
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
Labels: [Status] Approved, Feature request

#960 fix(analytics): only add form info to form submission events
  includes/class-newspack-popups-model.php
Labels: bug, [Status] Approved, Analytics

#980 fix: handle purged cache
  api/campaigns/class-maybe-show-campaign.php
  api/classes/class-lightweight-api.php
  includes/class-newspack-popups-parse-logs.php
  tests/test-api.php
Labels: bug, [Status] Approved

#995 fix: several fixes related to AMP Plus and non-AMP
  includes/class-newspack-popups-inserter.php
  src/view/access.js
  src/view/access.scss
  src/view/index.js
  src/view/utils/index.js
Labels: bug, [Status] Approved

#997 Invoke WP core polyfills for WP 6.1 compatibility
  api/setup.php
Labels: [Status] Approved

#998 fix: clarify padding vs. border styles in overlay vs. inline
  src/editor/StylesSidebar.js
Labels: enhancement, [Status] Approved
