Repository Automattic/newspack-popups, pull requests merged in 2022-06, with the labels that each got.

#876 fix: non-AMP signup forms
  src/view/index.js
  src/view/utils/index.js
Labels: bug, [Status] Approved

#879 feat: disable prompts by default for protected pages
  includes/class-newspack-popups.php
Labels: [Status] Approved

#896 fix: misnamed variable in GA non-AMP config filter
  includes/class-newspack-popups-segmentation.php
Labels: bug, [Status] Approved, [Priority] High

#898 Release Jun 27
  .circleci/config.yml
  CHANGELOG.md
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/view/index.js
  src/view/utils/index.js
Labels: [Status] Approved
