Repository Automattic/newspack-popups, pull requests merged in 2023-07, with the labels that each got.

#1157 Release Jul 03
  CHANGELOG.md
  composer.json
  composer.lock
  includes/class-newspack-popups-inserter.php
  newspack-popups.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1155 feat: segmentation criteria system
  includes/class-newspack-popups-criteria.php
  includes/class-newspack-popups.php
  src/criteria/default/articles-read.js
  src/criteria/default/donation.js
  src/criteria/default/favorite-categories.js
  src/criteria/default/index.js
  src/criteria/default/index.php
  src/criteria/default/newsletter.js
  src/criteria/default/user-account.js
  src/criteria/index.js
  src/criteria/index.test.js
  src/criteria/matching-functions.js
  src/criteria/segments-example.js
  src/criteria/utils.js
  tests/test-criteria.php
  webpack.config.js
Labels: [Status] Approved

#1166 chore: remove Lightweight API and client ID handling
  api/README.md
  api/campaigns/class-campaign-data-utils.php
  api/campaigns/class-maybe-show-campaign.php
  api/campaigns/class-report-campaign-data.php
  api/campaigns/index.php
  api/classes/class-lightweight-api.php
  api/segmentation/class-segmentation-client-data.php
  api/segmentation/class-segmentation-report.php
  api/segmentation/class-segmentation.php
  api/segmentation/index.php
  api/setup.php
  includes/class-newspack-popups-donations.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-newsletters.php
  includes/class-newspack-popups-parse-logs.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-view-as.php
  includes/class-newspack-popups.php
  src/customizer/index.js
  src/view/access.js
  src/view/access.scss
  src/view/analytics.js
  src/view/index.js
  src/view/style.scss
  src/view/utils/index.js
  src/view/utils/index.test.js
  tests/bootstrap.php
  tests/test-api.php
  tests/test-e2e.php
  tests/test-insertion.php
  tests/test-segmentation-criteria.php
  tests/test-segmentation.php
  tests/wp-unittestcase-pagewithpopups.php
  webpack.config.js
Labels: [Status] Approved, refactor

#1167 fix(criteria): warn when criteria value is not available
  src/criteria/utils.js
Labels: [Status] Approved

#1170 Release Jul 17
  CHANGELOG.md
  includes/class-newspack-popups-presets.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  includes/class-newspack-segments-model.php
  includes/schemas/class-segments.php
  newspack-popups.php
  package-lock.json
  package.json
  tests/test-importer.php
  tests/test-presets.php
  tests/test-segments.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved

#1159 feat: integrate criteria with segments
  includes/class-newspack-popups-criteria.php
  includes/class-newspack-segments-model.php
  src/criteria/segments-example.js
  tests/test-schemas.php
  tests/test-segments.php
Labels: [Status] Approved

#1165 fix: move the close button when Hide Padding is enabled
  src/view/style.scss
Labels: [Status] Approved

#1175 fix(criteria): allow async matching configuration
  includes/class-newspack-popups-criteria.php
  src/criteria/index.js
  src/criteria/utils.js
Labels: [Status] Approved

#1169 feat: segmentation match logic
  .distignore
  .gitignore
  includes/class-newspack-popups-criteria.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  package-lock.json
  package.json
  src/criteria/segments-example.js
  src/view/analytics/ga4.js
  src/view/analytics/seen.js
  src/view/animation.js
  src/view/bind.js
  src/view/form.js
  src/view/index.js
  src/view/position-observer.js
  src/view/segmentation.js
  src/view/store.js
  src/view/style.scss
  src/view/utils/analytics.js
  src/view/utils/index.js
  src/view/utils/prompts.js
  src/view/utils/segments.js
  src/view/utils/segments.test.js
  tests/test-insertion.php
  tests/test-model.php
  tests/wp-unittestcase-pagewithpopups.php
  webpack.config.js
Labels: [Status] Approved

#1177 feat: favorite categories segmentation logic
  src/criteria/default/favorite-categories.js
Labels: [Status] Approved, Feature request
