Repository Automattic/newspack-popups, pull requests merged in 2023-06, with the labels that each got.

#1121 fix: attempt to create config file on every host
  includes/class-newspack-popups.php
Labels: [Status] Approved

#1123 fix: escape value when creating config file
  includes/class-newspack-popups.php
Labels: [Status] Approved

#1124 feat(ras): add segmentation support for NRH donations
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
Labels: [Status] Approved

#1125 Release Jun 05
  CHANGELOG.md
  composer.lock
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  includes/schemas/class-prompts.php
  newspack-popups.php
  package-lock.json
  package.json
  presets/ras-defaults.json
  src/editor/Sidebar.js
  src/editor/utils.js
  tests/test-exporter.php
  tests/test-importer.php
  tests/test-model.php
  tests/test-schemas.php
Labels: [Status] Approved

#1131 feat: first pass at dismiss event tracking
  src/view/analytics/dismissed.js
  src/view/analytics/ga4.js
Labels: [Status] Approved

#1133 fix: add check for close button before adding action
  src/view/analytics/dismissed.js
Labels: [Status] Approved

#1134 feat: GA4 `form_submission` events for prompts
  includes/class-newspack-popups-data-api.php
  src/view/analytics/clicked.js
  src/view/analytics/ga4.js
  src/view/analytics/submitted.js
Labels: [Status] Approved

#1136 feat: front-end GA4 events for prompt interactions
  includes/class-newspack-popups-data-api.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/view/analytics/clicked.js
  src/view/analytics/dismissed.js
  src/view/analytics/ga4.js
  src/view/analytics/loaded.js
  src/view/analytics/seen.js
  src/view/analytics/submitted.js
  src/view/index.js
  src/view/utils/index.js
Labels: [Status] Approved

#1137 fix: ensure inline posts are inserted into main post content only
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#1127 fix: don’t include inactive segments in API request payload
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups-settings.php
  tests/test-segments.php
Labels: bug, [Status] Approved

#1143 fix: remove dismissed event after form is submitted
  src/view/analytics/dismissed.js
Labels: [Status] Approved, Analytics

#1144 feat: rearrange info on popup events metadata
  includes/class-newspack-popups-data-api.php
Labels: [Status] Approved

#1147 Hotfix/ga4 release
  includes/class-newspack-popups-data-api.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/view/analytics/clicked.js
  src/view/analytics/dismissed.js
  src/view/analytics/ga4.js
  src/view/analytics/loaded.js
  src/view/analytics/seen.js
  src/view/analytics/submitted.js
  src/view/index.js
  src/view/utils/index.js
Labels: [Status] Approved

#1151 Release Jun 19
  CHANGELOG.md
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1152 fix: render prompts on metered content
  includes/class-newspack-popups-inserter.php
Labels: [Status] Approved

#1106 feat: refactor segments into a taxonomy
  includes/class-newspack-popups-presets.php
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  includes/class-newspack-segments-model.php
  includes/schemas/class-segments.php
  tests/test-importer.php
  tests/test-presets.php
  tests/test-segments.php
  tests/wp-unittestcase-pagewithpopups.php
Labels: [Status] Approved
