Repository Automattic/newspack-popups, pull requests merged in 2023-01, with the labels that each got.

#1038 Add CLI command to run data pruning
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  includes/cli/class-prune-data.php
Labels: [Status] Approved

#1039 Release Jan 09
  CHANGELOG.md
  composer.lock
  includes/class-newspack-popups-exporter.php
  includes/class-newspack-popups-importer.php
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  includes/cli/class-export.php
  includes/cli/class-import.php
  includes/schemas/class-campaigns.php
  includes/schemas/class-package.php
  includes/schemas/class-prompts.php
  includes/schemas/class-schema.php
  includes/schemas/class-segments.php
  newspack-popups.php
  package-lock.json
  package.json
  presets/ras-defaults.json
  src/editor/AdvancedSidebar.js
  src/editor/Sidebar.js
  src/editor/utils.js
  src/view/admin.js
  src/view/admin.scss
  tests/bootstrap.php
  tests/test-exporter.php
  tests/test-importer.php
  tests/test-model.php
  tests/test-schemas.php
  webpack.config.js
Labels: [Status] Approved

#1042 Alpha release Jan 13
  includes/class-newspack-popups-segmentation.php
  includes/class-newspack-popups.php
  includes/cli/class-prune-data.php
Labels: [Status] Needs Review

#1043 fix: force invalid "full" size value to correct "full-width" value
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/editor/utils.js
Labels: bug, [Status] Approved
