Repository Automattic/newspack-popups, pull requests merged in 2023-08, with the labels that each got.

#1176 feat: migrate reader data
  includes/class-newspack-popups.php
Labels: [Status] Approved

#1180 fix: undefined user meta key
  includes/class-newspack-popups.php
Labels: [Status] Approved

#1168 Refactor/segments relationship
  includes/class-newspack-popups-custom-placements.php
  includes/class-newspack-popups-exporter.php
  includes/class-newspack-popups-importer.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  includes/class-newspack-segments-model.php
  includes/schemas/class-prompts.php
  includes/schemas/class-segments.php
  presets/ras-defaults.json
  src/editor/SegmentationSidebar.js
  src/editor/index.js
  src/editor/style.scss
  src/editor/utils.js
  tests/test-importer.php
  tests/test-model.php
  tests/test-schemas.php
Labels: [Status] Approved

#1185 Update/remove category cleanup
  includes/class-newspack-segments-model.php
  tests/test-segments.php
Labels: [Status] Approved

#1183 chore: remove lightweight api setup
  includes/class-newspack-popups.php
Labels: [Status] Approved

#1182 fix: update plugin description
  newspack-popups.php
Labels: [Status] Approved, [Priority] Low, [Effort] Low

#1181 fix: restore support for plugin settings
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-segmentation.php
  src/view/utils/index.js
Labels: [Status] Approved

#1184 Update/migration methods class
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups.php
  includes/class-newspack-segments-migration.php
  includes/class-newspack-segments-model.php
Labels: [Status] Needs Review

#1188 Fix: auto select segment when coming from the Campaigns wizard
  src/editor/index.js
Labels: [Status] Approved

#1190 Remove/non interactive mode
  includes/class-newspack-popups-inserter.php
  includes/class-newspack-popups-settings.php
  includes/class-newspack-popups.php
  tests/test-insertion.php
Labels: [Status] Needs Review

#1191 fix: missing release files
  .distignore
  includes/class-newspack-popups.php
Labels: bug, [Status] Approved

#1178 fix: previews
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  src/view/segmentation.js
  src/view/utils/segments.js
  src/view/utils/segments.test.js
Labels: [Status] Approved

#1194 fix: include missing file
  includes/class-newspack-popups.php
  includes/class-newspack-segments-migration.php
  includes/class-newspack-segments-model.php
Labels: [Status] Approved

#1197 fix: ensure url param segment is set
  includes/class-newspack-popups.php
  src/editor/index.js
Labels: [Status] Approved

#1195 feat: add segmentation README and more useful info to debug object
  includes/class-newspack-popups-inserter.php
  src/view/README.md
  src/view/segmentation.js
  src/view/utils/segments.js
  src/view/utils/segments.test.js
Labels: [Status] Approved

#1203 fix: account for frequency presets in printed config
  includes/class-newspack-popups-model.php
Labels: bug, [Status] Approved

#1204 fix: remove string from overlay prompt
  includes/class-newspack-popups-model.php
Labels: [Status] Needs Review
