Repository Automattic/newspack-popups, pull requests merged in 2024-08, with the labels that each got.

#1316 fix: refactor for updating dependencies in newspack-scripts
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  newspack-popups.php
  package-lock.json
  package.json
  phpcs.xml
  src/blocks/single-prompt/editor.scss
  src/editor/PositionPlacementControl.js
  src/editor/style.scss
  src/editor/utils.js
  src/settings/style.scss
  src/view/admin.scss
  src/view/style.scss
  webpack.config.js
Labels: [Status] Approved, dependencies

#1337 Release Aug 12
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  newspack-popups.php
  package-lock.json
  package.json
  phpcs.xml
  src/blocks/single-prompt/editor.scss
  src/editor/PositionPlacementControl.js
  src/editor/style.scss
  src/editor/utils.js
  src/settings/style.scss
  src/view/admin.scss
  src/view/style.scss
  webpack.config.js
Labels: [Status] Needs Review

#1341 fix: prioritize ras overlays for delayed prompts
  src/view/segmentation.js
Labels: [Status] Approved, ras-acc testing
