Repository Automattic/newspack-popups, pull requests merged in 2024-10, with the labels that each got.

#1352 Release Oct 08
  composer.json
  composer.lock
  includes/class-newspack-popups-criteria.php
  includes/class-newspack-popups.php
  newspack-popups.php
  package-lock.json
  package.json
  src/criteria/default/user-account.js
  src/view/segmentation.js
Labels: [Status] Approved

#1354 fix: prevent extra scrollbar with certain settings
  src/view/style.scss
Labels: [Status] Approved, ras-acc testing

#1356 fix: remove inline-block display type from radio-control option
  src/editor/style.scss
Labels: [Status] Approved, WP 6.7
