Repository Automattic/newspack-popups, pull requests merged in 2025-03, with the labels that each got.

#1403 Release Mar 04
  composer.lock
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  includes/schemas/class-prompts.php
  newspack-popups.php
  package-lock.json
  package.json
  presets/ras-defaults.json
  src/blocks/custom-placement/index.js
  src/blocks/single-prompt/index.js
  src/editor/ColorsSidebar.js
  src/editor/StylesSidebar.js
  src/editor/style.scss
  src/editor/utils.js
  src/settings/style.scss
  src/view/style.scss
  tests/test-exporter.php
  tests/test-importer.php
  tests/test-model.php
  tests/test-schemas.php
Labels: [Status] Needs Review

#1400 feat: prompt merge tags
  includes/class-newspack-popups-criteria.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  includes/merge-tags/class-merge-tag.php
  includes/merge-tags/class-merge-tags.php
  src/criteria/utils.js
  src/editor/MergeTagsBlockControl.js
  src/editor/index.js
  src/editor/style.scss
  src/view/index.js
  src/view/merge-tags/index.js
  tests/test-merge-tags.php
Labels: [Status] Approved, [Status] Needs Design Review

#1408 feat: information architecture
  includes/class-newspack-popups-api.php
  presets/ras-defaults.json
Labels: [Status] Approved

#1410 fix: update merge tags data reference to use window
  src/editor/index.js
Labels: [Status] Approved

#1412 Release Mar 31
  includes/class-newspack-popups-api.php
  includes/class-newspack-popups-criteria.php
  includes/class-newspack-popups-model.php
  includes/class-newspack-popups.php
  includes/merge-tags/class-merge-tag.php
  includes/merge-tags/class-merge-tags.php
  newspack-popups.php
  package-lock.json
  package.json
  presets/ras-defaults.json
  src/criteria/utils.js
  src/editor/MergeTagsBlockControl.js
  src/editor/index.js
  src/editor/style.scss
  src/view/index.js
  src/view/merge-tags/index.js
  tests/test-merge-tags.php
Labels: [Status] Approved
